.home-page{
    margin-top: 2rem;
    .balance-summary{
        background-color: yellow;
        height: 400px;
    }
    .holdings-table{
        .table{
            p{
                margin-bottom:0;
            }
            .positive{
                color:green;
            }
            .negative{
                color:red;
            }
            tbody{
                tr{
                    &:hover{
                        transition: 0.2s opacity;
                        opacity: 0.8;
                    }
                    .trade-cell{
                        button{
                            margin-top: 1rem;
                        }

                    }

                }
            }

        }
    }
}