nav{
     box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 0 16px rgb(0 0 0 / 10%);
     ul.navbar-nav.mr-auto{
        width: 100%;
        display: flex;
        justify-content: flex-end;
     }
     margin-bottom: 2rem;

}