.trade-page{
     .search-row{
        text-align: center;
        padding: 2rem;
        form{
            width: 100%;
            input{
                width: 80%;
            }
        }
     }
    .stocks-row{
        margin-top: 2rem;
    }
}